.container{
    display: flex;
    width: 50%;
    height: 220vh;
    height: auto  10px;
    flex-direction: column;
    text-align: justify;
    background: aliceblue;
}
.form-group{
    padding-top: 10px;
}
.skill{
    /* display: flex; */
    height: auto;
    justify-content: center;
    padding: 5px;
    width: 100%;    
}
label.requiredS::after{
    content: '*';
    color: red;
    
}
/* .skill>label>*{
    position: relative;
    margin: 0 0 20px 0;
    padding: 15px 0;
    width: 32%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 5px;
    
} */

/* 
.options{
    display: flex;
    position: absolute;
    height: 15px;
    width: 15%;
} */

.label{
    font-size: 20px;
}

.contact{
    margin: 5px;
   padding-top: 0;
   
}

.hobbies{
    height: auto;
    width: 100%;
}
textarea{
    width: 100%;
    height: 8rem;
}
.action{
    gap: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   padding: 8px;
   margin-top: 20px;  
}
.agree>label*{
    padding-top: 0;
}

.button{
    height: 40px;
    width: 70px;
    border: 3px solid green;
    border-radius: 30%;
    background: yellow;
    text-decoration: none;
    text-align: center;
}
.button:hover{
    color: orange;
}

.errortxt{
    color: red;
    /* font-size: 25px; */
    /* text-align: center; */
}

.errortxthd{
    color: red;
    font-size: 25px; 
    text-align: center;
    padding: 0;
    margin: 0;
}
.errorporder{
    border-color: red;
}
